<h3>Product menu</h3>

<p>
<button class="btn btn-danger" onclick="">SUBMIT</button>
</p>

<br />
<br />

<div class="bong" col-md>
    <% @product.each do |p| %> 
        <div class="col-md-2">
            <div>Product name:<%=p.title  %></div>
            <div>Price:<%=p.price %></div>
            <div><img src="<%= p.path_to_image %>" width="265", height="250"  /></div>
            <div><button class="btn btn-primary">Add to cart</button></div>
        </div>
    <% end %>
</div>