<h2>all review </h2>

<% @contacts.each do |c|%>
    <p>
        ====================================================================================================
        <br />
        Name:<%= c.name %>
        Address:<%= c.address %>
        email:<%= c.email %>
        message:<%= c.message %>
        <br />
        ====================================================================================================
    </p>

<% end %>